body{
  /*background: rgb(127,255,212)*/
  background-image: url('fundo.jpg');
  background-position: left center;
  
  
}

h2{
 color: #ffffff;
 animation-name: cor;
 animation-duration: 3s;
 /*animation-iteration-count: infinite;*/
 
 
}
label{
  color: #ffffff;
}

label {
    display: block;
    margin-bottom: 8px;
    padding-top: 5px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074d9;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    cursor: pointer;
    
  }
  table {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    padding-top: 0%;
  }

.checagem {
width: 20%;
background: rgb(0, 191,255,50);
/*align-items: center;*/
height: 27vh;
position: absolute;
left: 300px;
top: 100px;

}

.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;  /*Centraliza verticalmente */
  height: 3em;
  
  
}

.tabela{
height: 30%;
position: absolute;
bottom: 9em;
left: 300px;
}

.tabela h2 {
width: auto;
text-align: center;
line-height: 2em;

}

.cabeçalho{
margin: 0%;

}
img{
height: 50px;

}
#titulo{
  position: absolute;
  top: 20px;
  left: 90px;
  vertical-align: center;  

}
.tabela h2 {
margin: 0px;
padding: 0%;
align-items: center;
padding-bottom: 0em;

}

@keyframes cor{

from {color: blue;}

to { color: :aqua;}

}
  
  